body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*HEADER*/

header {
  font-size: 3em;
  text-align: center;
  padding: 2%;
  background-color: #0b2239;
  color: white;
}

/*HEADER*/

/*MAIN*/
main {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  flex-direction: column;
}

/*INPUT AREA*/
#inputArea {
  display: flex;
  justify-content: center;
}
#inputArea > input {
  outline: none;
  font-size: 2em;
  width: 60%;
  border-color: #0b2239;
  border-radius: 5px;
}

#addBtn {
  margin-left: 0.5%;
  font-size: 2em;
  color: #0b2239;
  background-color: white;
  border-radius: 5px;
  border-color: #0b2239;
  outline: none;
}
#addBtn:hover {
  box-shadow: 2px 2px 2px#0b2239;
}
#addBtn:active {
  background-color: #0b2239;
  color: white;
}

#todos {
  box-sizing: border-box;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.todo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 2em;
}

.paragraph {
  width: 350px;
  height: 100px;
  resize: none;
  font-size: 0.8em;
  outline: none;
  color: green;
}

#deleteBtn {
  font-size: 2rem;
  color: #0b2239;
  background-color: white;
  border-radius: 5px;
  border-color: #0b2239;
  outline: none;
}

#deleteBtn:hover {
  box-shadow: 2px 2px 2px#0b2239;
}

#deleteBtn:active {
  background-color: #0b2239;
  color: white;
}

.todo > #checkBox {
  margin-top: 0;
  width: 2.6rem;
  height: 2.6rem;
  border-color: #0b2239;
}

.todo > #checkBox:checked {
  accent-color: #0b2239;
  color: white;
}

#deleteBth {
  width: auto;
  height: fit-content;
  font-size: 2em;
  display: inline;
}

/*MAIN*/
