body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #;
}

/*HEADER*/

header {
  font-size: 3em;
  text-align: center;
  padding: 2%;
  background-color: #0b2239;
  color: white;
}

/*HEADER*/

/*MAIN*/
main {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  flex-direction: column;
}
#inputArea {
  display: flex;
  justify-content: center;
}
#inputArea > input {
  outline: none;
  font-size: 2em;
  width: 60%;
}

#inputArea > button {
  margin-left: 0.5%;
  font-size: 2em;
  color: #20bf55;
  background-color: white;
  border-radius: 5px;
  border-color: gray;
}
/*MAIN*/
